.css {
    padding-left: 20px;
    backdrop-filter: blur(10px);
    height: 40px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #c5c6cc;
    background: rgba(255, 255, 255, 0.1);
}

.css:focus {
    border-color: #006ffd;
    color: #006ffd;
    outline: none;
}
