@import "../../../assets/MixinCss/colors.scss";

.wrapper, .wrapperActive, .nothovering{
    height: 60px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.wrapper:hover, .wrapperActive{
    background-color: $primary-blue;
    color: white;
    cursor: pointer;
    .newMess{
        background-color: white;
        color: $primary-blue;
    }
    .lastMes{
        color: white;
    }
}

.wrapperActive:hover{
    cursor: pointer;
}