@import '../../../../assets/MixinCss/colors.scss';

.input {
    width: 100%;
    height: 40px;
    border: 1px solid #afafaf;
    border-radius: 15px;
    background-color: $project-panel;
    padding-left: 20px;
}
