@import '../../../../../../../assets/MixinCss/classes.module.scss';
@import '../../../../../../../assets/MixinCss/colors.scss';

.wrapper {
    width: 220px;
    height: 400px;
    border: 1px solid #afafaf;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.wrapDroping {
    border: 2px solid rgb(180, 180, 21);
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapTasks {
    @extend .hide_scroll;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.oneTask,
.assigned{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    &:hover {
        background-color: aliceblue;
        cursor: pointer;
    }
}

.dragOneTask {
    // background-color: aliceblue;
    // cursor: grab;
    display: none;
}

.wrapEntity {
    height: 50px;
}

.avatar {
    margin-right: 10px;
}

.assigned {
    border: 1px solid $avatar-person;
}

.date {
    font-size: 70%;
    align-items: center;
    display: flex;
    margin-left: auto;
}
