@import '../../../../../assets/MixinCss/sizes.scss';

.panel {
    width: 70px;
    height: 100%;
    padding-top: $chat-header;
    position: relative;
}

.menu {
    width: 100%;
    height: $chat-header;
    display: flex;
    align-items: center;
}
